<form [formGroup]="certificacionForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nombre de la Certificación</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
  <div *ngIf="certificacionForm.controls['nombre'].invalid && certificacionForm.controls['nombre'].touched">
    <ion-text color="danger">El nombre es requerido.</ion-text>
  </div>

  <ion-item>
    <ion-label position="floating">Año</ion-label>
    <ion-input formControlName="ano" type="number"></ion-input>
  </ion-item>
  <div *ngIf="certificacionForm.controls['ano'].invalid && certificacionForm.controls['ano'].touched">
    <ion-text color="danger">Año inválido.</ion-text>
  </div>

  <ion-button expand="full" type="submit" [disabled]="certificacionForm.invalid">Agregar Certificación</ion-button>
</form>

<ion-list>
  <ion-item *ngFor="let certificacion of certificaciones">
    <ion-label>
      <h2>{{ certificacion.nombre }}</h2>
      <p>Año: {{ certificacion.ano }}</p>
    </ion-label>
    <ion-button color="danger" (click)="deleteCertificacion(certificacion.id)">Eliminar</ion-button>
  </ion-item>
</ion-list>
