<form [formGroup]="certificacionForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nombre de la Certificación</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="certificacionForm.controls['nombre'].invalid && certificacionForm.controls['nombre']?.touched">
    <p>El nombre es requerido.</p>
  </ion-text>

  <ion-item>
    <ion-label position="floating">Año</ion-label>
    <ion-input formControlName="ano" type="number"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="certificacionForm.controls['ano'].invalid && certificacionForm.controls['ano']?.touched">
    <p>Año inválido.</p>
  </ion-text>

  <ion-button expand="full" type="submit" [disabled]="certificacionForm.invalid">
    {{ selectedCertificacionId ? 'Actualizar Certificación' : 'Agregar Certificación' }}
  </ion-button>
</form>

<ion-list *ngIf="certificaciones && certificaciones.length > 0">
  <ion-item class="lista-item" *ngFor="let certificacion of certificaciones">
    <ion-label>
      <h2>{{ certificacion.nombre }}</h2>
      <p>Año: {{ certificacion.ano }}</p>
    </ion-label>
    <ion-button class="botones-crud" fill="clear" (click)="onEdit(certificacion)">Editar</ion-button>
    <ion-button class="botones-crud" fill="clear" color="danger" (click)="deleteCertificacion(certificacion.id)">Eliminar</ion-button>
  </ion-item>
</ion-list>
