<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>

  <!-- Enlace para registrar un nuevo usuario -->
  <ion-item lines="none">
    <ion-label class="ion-text-center">
      ¿No tienes una cuenta? 
      <ion-button fill="clear" color="primary" (click)="goToRegister()">Registrar Usuario</ion-button>
    </ion-label>
  </ion-item>
</ion-content>

